/*CSS styling for flappy hawk*/
body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden; /* Hide scrollbars */
    background-color: #000;  
}
canvas {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}